.gallery-top2x6 img {
	width:90%;
	text-align:center;
	display:block;
	margin:auto;
	max-width: 900px;
	min-width: 400px;
}
.gallery-thumbs2x6 img {
	box-sizing:border-box;
	width:100%;
	height:auto;
	margin:auto;
	max-width: 250px;
	min-width: 150px
}
.gallery-thumbs2x6 .swiper-slide {
	width:25%;
	height:100%;
	opacity:0.4;
	max-width: 250px;
	min-width: 150px;
}
.gallery-thumbs2x6 .swiper-slide-active {
	opacity:1
}