.swiper-slide {
	background-size:cover;
	background-position:center
}
.gallery-top img {
	width:100%
}
.gallery-thumbs img {
	box-sizing:border-box;
	width:100%;
	height:auto;
	margin:auto
}
.gallery-thumbs .swiper-slide {
	width:25%;
	height:100%;
	opacity:0.4
}
.gallery-thumbs .swiper-slide-active {
	opacity:1
}
