.swiper-slide {
	background-size:cover;
	background-position:center
		
}
.artwork_title {
	font-family:cursive;
	display:block;
	text-align:center;
	margin:auto;
	padding: 60px;
	font-size:4em;
	cursor:default
}
