.artwork_title {
	font-family:cursive;
	display:block;
	text-align:center;
	margin:auto;
	padding: 20px 0 40px 0;
	font-size:3em;
	cursor:default
}

.swiper-slide {
	background-size:cover;
	background-position:center
		
}
