.footer {
	width:100%;
	text-align:center;
	padding-top:10px
}
.facebook {
	width:18%;
	margin:0 auto;
	min-width:100px
}
.facebook iframe {
	padding-top:5px
}
.footer img {
	width:50px
}
.footer img:hover {
	color:#f00;
	-webkit-filter:invert(100%);
	filter:invert(100%);
	cursor: pointer;
}
.copyright {
	font-size: .8em;
	clear:both;
	display:float;
	text-align:center;
	min-width:100px;
	cursor:default;
	padding-top: 10px;
}
