#navContainer{
	width: 400px;
	margin: 0 auto;
	padding-top: 10px;
}
#navContainer img{
	width: 50px;
	outline:none;
}
#main {
	transition:margin-left .5s;
}
.logo{
    text-align: center;
    margin: auto;
    padding-top:10px;
    img{
    	width: 80%;
    }
}
@media screen and (max-width: 550px) {
	.logo_long {
		display: none;
	}
	.logo_short {
		display:inline;
		max-width: 200px;
		min-width: 150px
	}
	#navContainer{
		position: static;
		display: block;
	}
}
@media screen and (min-width: 550px) {
	.logo_short {
		display: none;
	}
	.logo_long {
		display: inline;
		min-width: 350px;
		max-width: 450px;
	}
}
.fadein,.fadeout {
	transition:.15s linear all;
	opacity: 1;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
}
.fadein.ng-hide-remove,.fadeout.ng-hide-add.ng-hide-add-active {
	opacity: 0;
	bottom: 50px;
}
.fadeout.ng-hide-add,.fadein.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	bottom: 0;
}

.dropdown-menu{
	position: absolute;
	z-index: 999999;
}
.dropdown-menu .md-list-item{
	position: relative;
}
