md-content{
	width: 100%;
	button{
    	width: 98%;
    	height: 100px;
	}
}

.md-sidenav-left {
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
    max-width:250px;
	min-width:300px;
    .md-button{
        margin:auto;
	    padding:50px 110px
    }
}
.md-sidenav-left a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s
}

.md-sidenav-left a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.md-sidenav-left .closebtn {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .md-sidenav-left {padding-top: 15px;}
  .md-sidenav-left a {font-size: 18px;}
}