<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
        <script type='text/javascript' src='/js/jquery.js'></script>
        <script type='text/javascript' src="/js/main.js"></script>
    </head>
    <body>
	        <header>
            </header>
            {{#if firstName}}
                <div id="greeting" style="float:right">
                    <strong>Hi, {{firstName}}!</strong>
                    <a href="/users/logout">Log out</a>
                </div>
            {{/if}}
	       {{{body}}}
	        <footer>
	        </footer>
    </body>
</html>